* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.first-container {
  height: 100%;
  width: 100%;
  background-image: url(./assets/background.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-container {
  height: 100%;
  width: 100%;
  max-width: 25rem;
  max-height: 30rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 11px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.second-container form {
  width: 100%;
}
.first-container .second-container h2 {
  text-align: center;
  margin: 1rem 0;
}

.first-container .second-container .input-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.first-container .second-container label {
  padding-top: 0.8rem;
}
.first-container .second-container .input-field:nth-child(2) {
  margin-top: 1rem;
}

.first-container .second-container .input-field input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.486);
  padding-left: 1.5rem;
  padding-bottom: 7px;
}
.first-container .second-container .input-field div {
  width: 100%;
  position: relative;
}

.first-container .second-container .input-field .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 10px;
}

.first-container .second-container h4 {
  text-align: end;
  font-size: 15px;
  padding-top: 0.9rem;
  cursor: pointer;
  display: flex;
  gap: 6px;
  display: flex;
  justify-content: center;
}

.first-container .second-container h4 a {
  display: flex;
  flex-direction: column;
}

 .first-container .second-container .button {
  width: 40%;
  height: 6%;
  margin-top: 1.5rem;
  border-radius: 22px;
  border: none;
  outline: none;
  background: linear-gradient(45deg, #ff6b6b, #f06595, #845ef7);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

 .first-container .second-container .button1 {
    width: 40%;
    height: 30px;
  margin-left: 100px;
  margin-top: 1.5rem;
  border-radius: 22px;
  border: none;
  outline: none;
  background: linear-gradient(45deg, #ff6b6b, #f06595, #845ef7);
  cursor: pointer;
   font-weight: bold;
  font-size: 16px;
}
