* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  /* background-color: black; */
  /* color: #ffff; */
  font-family: sans-serif;
}
.headerContainer {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  top: 0;
  background-color: rgba(129, 126, 126, 0.4);
  padding: 0 20px;
  font-weight: bold;
  font-size: 15px;
}
.containerLogo {
  position: relative;
  width: 200px;
  height: 100px;
}
.containerLogo .logo {
  width: 70%;
  margin: 15px 10px 10px 29px;
  object-fit: contain;
  height: 60px;
}
.containerLogo .bg {
  position: relative;
  top: -60%;
  left: 25%;
  z-index: 10;
  display: block;
}
.containerList {
  padding-right: 20px;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.list li {
  list-style-type: none;
}
.list li a {
  color: #ffff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  font-weight: 700;
  font-size: bold;
  font-size: 18px;
}
.list li a:hover {
  border-bottom: 5px solid #396eb5;
}

.mainContainer {
  min-height: 100vh;
  padding-top: 100px;
  background-image: url(assets/Group\ 1045.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.mainContainer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding-right: 55%;
  padding-top: 200px;
  border-radius: 10px;
  justify-content: center;
}
.home-text {
  padding: 40px;
  margin-top: -61px;
  text-align: left;
}
.mainContainer h1 {
  color: black;
  font-size: 75px;
}
.mainContainer h2 {
  color: black;
  font-weight: 300;
  font-size: 45px;
}
.mainContainer p {
  color: #8c8c8c;
  font-size: 20px;
  padding-top: 20px;
  font-weight: 300;
  padding-bottom: 10px;
}
.mainContainer .input {
  margin-top: 10px;
  width: 60%;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgb(139, 139, 139);
  gap: 20px;
}
.mainContainer button {
  background-color: #134586;
  color: #ffff;
  padding: 10px 20px;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.gallerySection {
  padding: 60px 60px;
  background-color: #f9f9f9;
  text-align: center;
}
.headings p {
  font-size: 15px;
  font-weight: bold;
  color: #9d9d9d;
  text-align: center;
}
.headings h2 {
  padding-top: 20px;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  padding-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}
.grid-item {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
}
.grid-item:hover {
  transform: translateY(-5px);
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.grid-item h3 {
  margin: 20px 0 5px;
  font-size: 18px;
}

.grid-item p {
  padding-bottom: 30px;
  font-size: 14px;
  color: #666;
}
.button-container button {
  margin-top: 50px;
  background-color: #ffff;
  color: #0b87cb;
  border-radius: 6px;
  padding: 10px 40px;
  border: 1px solid #0b87cb;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.button-container button:hover {
  background-color: #0b87cb;
  color: white;
}

.mobApp {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}
.mobApp img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(170, 169, 169, 0.1);
}
.blue-section {
  background-color: #396eb5;
  color: #ffff;
  padding: 60px 20px;
  text-align: center;
  width: 100%;
  height: 484px;
}
.text-section {
  margin-top: 10px;
}
.text-section h4 {
  font-weight: 700;
  font-size: 15px;
  font-style: bold;
  margin-bottom: 20px;
}

.text-section h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.text-section h3 {
  max-width: 1000px;
  margin: 40px auto;
}
.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 10px;
}

.box {
  background-color: #2e64ad;
  border: 2px solid #2e64ad;
  padding: 30px 20px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.box:hover {
  transform: translateY(-5px);
}

.box h3 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 10px;
}

.box p {
  font-size: 16px;
  color: #ffff;
}
.imgSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.imgSection img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.text-over-image {
  width: 100%;
  height: 300px;
  background-image: url(./assets/Group\ 1062.png);
  margin-top: 97px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
}
.text-overlay {
  text-align: center;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
  padding: 20px;
}
.text-overlay p {
  max-width: 900px;
  margin-top: 65px;
}
.text-overlay h3 {
  font-size: 15px;
  font-weight: 700;
  color: #b3e0fd;
}
.text-overlay h1 {
  color: #f9fcfe;
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
}
.text-overlay h2 {
  font-size: 20px;
  padding: 18px;
}

.btm-image {
  height: 300px;
  width: 100%;
  background-image: url(./assets/Group\ 982.png);
  background-size: cover;
  background-position: center;
  margin-top: 30px;
}

.footer-bottom {
  font-size: 14px;
  color: #000000;
  margin-top: auto;
  text-align: center;
  margin-top: 10px;
}
