*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2c3e50, #3498db);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.clock-container{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0 , 0 , 0.3);
}
#clock{
    font-size: 100px;
    color: #ffff;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 3px;
}